<html>
<head>
  <title>Please Sign In</title>
</head>
<body>
  {% extends "template.html" %}
  {% block content %}
  {% if message %}
  <p style="color:red">{{ message }}</p>
  {% endif %}
  <form action="/giveaway" method="post">
    <legend>Please sign in:</legend>
    <p><input name="username" placeholder="Username" value="{{ username }}"></p>
    <p><button type="submit">Sign In</button></p>
  </form>
  <button class="btn btn-success" onclick=" window.open('https://bbs.saraba1st.com/2b/forum.php','_blank')">一键获胜</button>
  {% endblock %}
</body>
</html>